body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: rgb(69, 96, 110);
    margin: 0;
    padding: 0;
}

.header{
    font-family:'Times New Roman', Times, serif;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 10px;
    font-size: 30px;
    font-weight: bold;
}

nav{
    /* display: inline-block;
    margin-right: 20px; */
    background-color: #34495e;
    text-align: right;
    padding: 5px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.about{
    background-color: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
}

.projects{
    background-color: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
}

.project-card{
    border: 2px solid #3498db;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
}

.contact{
     background-color: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
}

.foot{
    font-family:'Times New Roman', Times, serif;
    background-color: #2c3e50;
    color: white;
    text-align: right;
    padding: 1px 1px 1px 1px;
    font-weight: bold;
}

img{
    width: 100px;
    height: 100px;
    margin: 0px 0px 15px 20px;
    float: right;
}

.id{
    background-color: black;
    margin: 0px;
    padding: 0px;
}